//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 12 20:34:10 2024
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "led<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "K18" LEVEL 1;
SCHEMATIC END;

