NET "s(0)" LOC = "F17";
NET "s(1)" LOC = "H17";
NET "s(2)" LOC = "C18";
NET "s(3)" LOC = "F15";

NET "ssd(6)" LOC = "L18";
NET "ssd(5)" LOC = "F18";
NET "ssd(4)" LOC = "D17";
NET "ssd(3)" LOC = "D16";
NET "ssd(2)" LOC = "G14";
NET "ssd(1)" LOC = "J17";
NET "ssd(0)" LOC = "H14";

NET "bcd(0)" LOC = "G18";
NET "bcd(1)" LOC = "H18";
NET "bcd(2)" LOC = "K18";
NET "bcd(3)" LOC = "K17";