NET "A(0)" LOC = "F17";
NET "A(1)" LOC = "H17";
NET "A(2)" LOC = "C18";
NET "A(3)" LOC = "F15";

NET "ssd(6)" LOC = "L18";
NET "ssd(5)" LOC = "F18";
NET "ssd(4)" LOC = "D17";
NET "ssd(3)" LOC = "D16";
NET "ssd(2)" LOC = "G14";
NET "ssd(1)" LOC = "J17";
NET "ssd(0)" LOC = "H14";

NET "ent(0)" LOC = "G18";
NET "ent(1)" LOC = "H18";
NET "ent(2)" LOC = "K18";
NET "ent(3)" LOC = "K17";
NET "ent(4)" LOC = "L14";
NET "ent(5)" LOC = "L13";
NET "ent(6)" LOC = "N17";
NET "ent(7)" LOC = "R17";